  <section class="contact-footer" id="contact-section">
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand">
        <h4>UNITOPIA GLOBAL</h4>
        <p>A Saudi‑based educational consultancy guiding students from application through arrival abroad.</p>
      </div>
      <div class="footer-services">
        <h5>Our Services</h5>
        <ul>
          <li>Academic Pathway Guidance</li>
          <li>Application & Document Support</li>
          <li>Visa & Pre‑Departure Assistance</li>
          <li>Scholarship & Financing Help</li>
        </ul>
      </div>
      <div class="footer-location">
        <h5>Location</h5>
        <p>📍 Riyadh. Amman. London.</p>
      </div>
      <div class="footer-contact">
        <h5>Contact</h5>
        <p>📞 +966 54 515 0572<br>✉️ info@unitopiaglobal.com</p>
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
      </ul>
      <p class="copyright">Copyright © 2025 UNITOPIA GLOBAL Co., Ltd. All Rights Reserved.</p>
    </div>
  </div>
</section>
  
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static/assets/js/isotope.min.js"></script>
    <script src="../static/assets/js/owl-carousel.js"></script>
    <script src="../static/assets/js/lightbox.js"></script>
    <script src="../static/assets/js/tabs.js"></script>
    <script src="../static/assets/js/video.js"></script>
    <script src="../static/assets/js/slick-slider.js"></script>
    <script src="../static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        // $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        //   e.preventDefault();
        //   showSection($(this).attr('href'), true);
        // });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
    
</body>
</html>